:root {
  --transition-duration: 0.25s;
  --color-error: hsl(355, 60%, 20%);

  --color-error-light: hsl(from var(--color-error) h s calc(l + 70));
  --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  --color-gray-1: hsl(0, 0%, 90%);
  --color-gray-2: hsl(0, 0%, 80%);
  --color-gray-7: hsl(0, 0%, 30%);
  --color-light: hsl(0, 0%, 100%);

  --color-primary: hsl(165, 100%, 20%);
  --color-primary-light: hsl(from var(--color-primary) h s calc(l + 30));
  --color-primary-dark: hsl(from var(--color-primary) h s calc(l - 10));
  --color-success: hsl(150, 70%, 20%);
  --color-success-light: hsl(from var(--color-success) h s calc(l + 70));
  --color-warning: hsl(45, 95%, 20%);
  --color-warning-light: hsl(from var(--color-warning) h s calc(l + 70));
}

@property --color-gradient-property-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0, 0%, 60%);
}

@property --color-gradient-property-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0, 0%, 70%);
}


:root:root {

  height: 100%;

  /* General */

  body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family), sans-serif;
    font-size: clamp(0.75rem, 0.875rem + 0.25vw, 1.125rem);
    height: 100%;
  }

  .nv-legend text,
  .nvd3 text {
    font: unset;
  }

  /* Size */

  #chart {
    flex-grow: 1;
  }

  /* Data Input */

  .section-input {
    container-name: section-input;
    container-type: inline-size;

    & .box-input {
      align-items: center;
      background: var(--color-gray-1);
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      padding: 1em;
    }

    & input[type="file"] {
      background: var(--color-gray-2);
      border-radius: 99em;
      cursor: pointer;
      font-size: 0.75em;
      font-weight: 600;
      max-width: 100%;
      padding: 0.5em;

      &:hover::file-selector-button,
      &:focus-visible::file-selector-button {
        background: var(--color-primary);
      }
    }

    & input[type="file"]::file-selector-button {
      background: var(--color-gray-7);
      border: none;
      border-radius: 2em;
      color: var(--color-light);
      cursor: pointer;
      font-family: var(--font-family), sans-serif;
      padding: 0.5em 1em;
      transition: background var(--transition-duration);
    }
  }

  .box-controls {
    align-items: center;
    display: flex;

    & label {
      cursor: pointer;
    }

    & input {
      display: none;

      &:checked + .label-switch {
        --color-gradient-property-1: var(--color-primary-light);
        --color-gradient-property-2: var(--color-primary);

        &::after {
          left: 1.625em;
        }
      }
    }

    & .label-switch {
      background-image: linear-gradient(90deg, var(--color-gradient-property-1), var(--color-gradient-property-2));
      border-radius: 1.5em;
      height: 1.5em;
      position: relative;
      transition: --color-gradient-property-1 var(--transition-duration), --color-gradient-property-2 var(--transition-duration);
      width: 3em;

      &::after {
        background: var(--color-light);
        border-radius: 50%;
        content: '';
        height: 1.25em;
        left: 0.125em;
        position: absolute;
        top: 0.125em;
        transition: left var(--transition-duration);
        width: 1.25em;
      }
    }

    & .label-text {
      margin-left: 0.25em;
      user-select: none;
    }
  }

  /* Text */

  .headline-1 {
    align-items: center;
    background: var(--color-primary-dark);
    color: var(--color-light);
    padding: 0.5em;
    justify-content: center;
    display: flex;
    font-size: clamp(1.25rem, 0.982rem + 0.714vw, 1.625rem);
    gap: 0.5em;
    text-transform: uppercase;

    & img {
      height: auto;
      width: 1.5em;
    }
  }

  .nv-noData {
    fill: var(--color-warning);
  }

  /* Data points */

  .nv-point {
    fill-opacity: 1 !important;
    stroke-opacity: 1 !important;
    stroke-width: 1px !important;
  }

  /* "Average" item */

  .nv-group[style*="rgb(0, 0, 0)"] {
    stroke-width: 6px !important;
  }

  .average-legend-item {
    padding: 0 0.5em;

    & text {
      font-weight: bold;
    }
  }

  /* Tooltip */

  .nvtooltip {
    background: hsl(0, 0%, 99%);
    border: none;
    box-shadow: 0 0.25em 0.5em hsl(0, 0%, 50%);
    font-family: var(--font-family), sans-serif;

    & table {
      border-collapse: separate;
      border-spacing: 0 0.5em;
      margin: 0.5em;

      & thead tr th {
        border-bottom: 1px solid hsl(0, 0%, 80%);
      }

      & :is(td, th) {
        padding: 0.5em 1em;
        text-align: left;
      }

      & td {
        font-weight: unset;

        &.legend-color-guide div {
          border: none;
          border-radius: 50%;
        }

        &.value {
          font-weight: bold;
        }
      }

      & :not(.active-row) td {
        &:last-child {
          border-radius: 1em;
        }
      }

      & .active-row {
        background: hsl(0, 0%, 90%);

        & td {
          &:first-child {
            border-radius: 1em 0 0 1em;
          }

          &:last-child {
            border-radius: 0 1em 1em 0;
          }
        }
      }

      & .value {
        text-align: center;
      }
    }

    & [data-series="Durchschnitt"] {
      font-weight: bold;
    }

    & .sec-good {
      background: var(--color-success-light);
      color: var(--color-success);
    }

    & .sec-ok {
      background: var(--color-warning-light);
      color: var(--color-warning);
    }

    & .sec-bad {
      background: var(--color-error-light);
      color: var(--color-error);
    }
  }
}

/* CQ */

@container section-input (width > 80ch) {
  :root:root .section-input {
    & .box-input {
      flex-direction: row;
    }
  }
}