/*** Chart ***/

/* Size */

#chart svg {
  height: 90vh;
}

/* Data points */

.nv-point {
  stroke-opacity: 1 !important;
  stroke-width: 1px !important;
  fill-opacity: 1 !important;
}

/*** Tooltip ***/

/* Layout */

:root .nvtooltip {
  font-size: 0.875rem;
  background: #fff;
}

:root .nvtooltip table :is(td, th) {
  padding: 0.5em;
  text-align: left;
}

:root .nvtooltip table td:not(.legend-color-guide) {
  padding-right: 1em;
}

.nvtooltip table td.legend-color-guide div {
  border: none;
  border-radius: 50%;
}

/* Colors */

:root .nvtooltip .sec-good {
  background-color: #d1e7dd;
  color: #0f5132;
  font-weight: bold;
}

:root .nvtooltip .sec-ok {
  background-color: #fff3cd;
  color: #664d03;
  font-weight: bold;
}

:root .nvtooltip .sec-bad {
  background-color: #f8d7da;
  color: #58151c;
  font-weight: bold;
}

/* "Average" item */
.nv-group[style*="rgb(0, 0, 0)"] {
  stroke-width: 6px !important;
}

.average-legend-item text {
  font-weight: bold;
}